/*.list{*/
/*    padding:20px 30px;*/
/*    height: 80px;*/
/*    width: 150px;*/
/*    margin: auto;*/
/*}*/
/*.list .tab{*/
/*    height: 100%;*/
/*    width: 10px;*/
/*    margin: 0 10px;*/
/*    background: #666666;*/
/*    float: left;*/
/*    border-radius: 10%;*/

/*}*/
/*.list .tab:first-child{*/
/*    animation: loading .8s infinite linear;*/
/*}*/
/*.list .tab:nth-child(2){*/
/*    animation: loading .8s infinite linear .2s;*/
/*}*/
/*.list .tab:nth-child(3){*/
/*    animation: loading .8s infinite linear .4s;*/
/*}*/
/*.list .tab:nth-child(4){*/
/*    animation: loading .8s infinite linear .2s;*/
/*}*/
/*.list .tab:nth-child(5){*/
/*    animation: loading .8s infinite linear;*/
/*}*/
/*@keyframes loading{*/
/*    0%{*/
/*        height: 80px;*/
/*    }*/
/*    50%{*/
/*        height: 0px;*/
/*        margin-top:40px;*/
/*        margin-bottom: 40px;*/
/*    }*/
/*    100%{*/
/*        height: 80px;*/
/*    }*/
/*}*/

.list1{
    padding:30px 30px;
    height: 260px;
    width: 30px;
    margin: auto;
    position: relative;
}
.list1 .tab1{
    height: 30px;
    width: 30px;
    background: #ff7f4f;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: 30px;
    animation: falling .67s infinite linear alternate;
    z-index: 20;
}
.list1 .tab2{
    background: #999999;
    border-radius: 50%;
    position: absolute;
    top: 280px;
    left: 0;
    right: 0;
    margin-right:auto;
    margin-left: auto;
    animation: shadow .67s infinite linear alternate;
}
@keyframes falling{
    0%{
        top: 30px;
    }
    10%{
        top: 35px;
    }
    20%{
        top: 40px;
    }
    30%{
        top: 50px;
    }
    40%{
        top: 65px;
    }
    50%{
        top: 85px;
    }
    60%{
        top: 110px;
    }
    70%{
        top: 140px;
    }
    80%{
        top: 175px;
    }
    90%{
        top: 215px;
    }
    100%{
        top: 260px;
    }
}
@keyframes shadow{
    0%{
        height: 0px;
        width: 0px;
    }
    10%{
        height: 0px;
        width: 0px;
    }
    20%{
        height: 0px;
        width: 0px;
    }
    30%{
        height: 0px;
        width: 0px;
    }
    40%{
        height: 0px;
        width: 0px;
    }
    50%{
        height: 0px;
        width: 0px;
    }
    60%{
        height: 0px;
        width: 0px;
    }
    70%{
        height: 0px;
        width: 0px;
    }
    80%{
        height: 4px;
        width: 9px;
    }
    90%{
        height: 9px;
        width: 20px;

    }
    100%{
        height: 12px;
        width: 34px;
    }
}

.list2{
    height: 30px;
    width: 90px;
    margin:30px auto;
    position: relative;
}
.list2 .tab1{
    height: 30px;
    width: 30px;
    background: #86fdff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: move2 .76s infinite linear;
    /*z-index: 20;*/
}
.list2 .tab2{
    height: 30px;
    width: 30px;
    background: #ff7781;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    animation: move1 .76s infinite linear;
    /*z-index: 20;*/
}
@keyframes move1{
    0%{
        right: 0;
    }
    25%{
        right: 30px;
        z-index: 5;
    }
    50%{
        right: 60px;
    }
    75%{
        right: 30px;
        z-index: 10;
    }
    100%{
        right: 0px;
    }
}
@keyframes move2{
    0%{
        left: 0;
    }
    25%{
        left: 30px;
        z-index: 10;
    }
    50%{
        left: 60px;
    }
    75%{
        left: 30px;
        z-index: 5;
    }
    100%{
        left: 0px;
    }
}
