.down .tag a{
    display: block;
    padding: 4px 10px;
    margin: 10px 5px 0 0;
    float: left;
    border-radius: 3%;
    color: white;
}
.down .tag a:hover{
    text-shadow: #000 1px 1px 2px;
}
.down .tag a.color1{
    background: #4cd964;
}
.down .tag a.color2{
    background: #d9d551;
}
.down .tag a.color3{
    background: #39cfd9;
}
.down .tag a.color4{
    background: #d94758;
}
.down .tag a.color5{
    background: #d191d9;
}
.down .tag a.color6{
    background: #48d996;
}
.down .tag a.color7{
    background: #988fd9;
}
.box4 .down ul li{
    padding: 5px 5px 5px 15px;
    position: relative;
}
.box4 .down ul li:before{
    content: '';
    width: 4px;
    height: 4px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: -2px;
}
.box4 .down ul li a{
    color: black;
    font-size: 15px;
}
.box6 .down ul li{
    margin-bottom:8px;
    position: relative;
    font-size: 15px;
}
.box6 .down ul li a{
    color: green;
    font-size: 15px;
}