a,h1,h2,h3,h4,h5,h6,p,ul,li,ol,body{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background: #EAEAEA;
    font-family: 微软雅黑,sans-serif;
}
/*回到顶部*/
a{
    text-decoration: none;
}
.e{
    width: 38px;
    height: 38px;
    position: fixed;
    right: 20px;
    bottom: 10%;
    background: black;
    font-size: 15px;
    /*padding-top: 4px;*/
    /*padding-left: 7px;*/
    padding-bottom: 5px;
    text-align: center;
}
.e:hover{
    width: 42px;
    height: 42px;
    position: fixed;
    right: 18px;
    bottom: 10%;
    background: #181818;
    font-size: 17px;
    padding-top: 4px;
    padding-left: 1px;:
    padding-right: 6px;
    transition: all 0.5s;
    text-align: center;
}
.e a{
    text-decoration: none;
    color: #ffffff;
}
/*头部*/
.header{
    width: 100%;
    height: 55px;
    background: black;
}
.hat{
    width: 100%;
    height: 5px;
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
}
/*头部的分块*/
.header-box{
    margin: 0 auto;
    height: 100%;
    width: 79%;
    background: black;
}
/*头部分块的导航*/
.header-box a.left{
    height: 65%;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    margin-top: 8.5px;
    margin-right: 24px;
    /*padding-left: 15px;*/
    padding-right: 15px;
    color: #fff;
    float: left;
}
.header-box a.middle{
    height: 40%;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
    padding-left: 18px;
    padding-right: 18px;
    color: #fff;
    float: left;
}
.header-box a.right{
    height: 100%;
    width: 20px;
    text-decoration: none;
    font-size: 30px;
    /*text-align: center;*/
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    float: right;
    font-weight: 600;
    line-height: 51px;
}
#now{
    color: #5ac8fa;
}
/*头部分块导航的动态展示*/
.header-box a.middle:hover{
    height: 40%;
    /*background: #353535;*/
    transition:all 0.15s;
    color: #5ac8fa;
}
/*间隙*/
.gap{
    height: 15px;
    width: 100%;
    background: #EAEAEA;
    padding: 2px 0;
}
/*脖子*/
.neck{
    height: 260px;
    width: 79%;
    background: #EAEAEA;
    margin: 0 auto;
}
/*脖子的第一部分*/
.neck .box1{
    height: 100%;
    width: 50%;
    background: ghostwhite;
    float: left;
    position: relative;
    overflow: hidden;
}
.neck .box1 img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 600px;
}
.neck .box1 img:first-child{
    left: 0;
}

.neck .box1 .leftbutton,.neck .box1 .rightbutton{
    height: 32px;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 999;
}
.neck .box1 .leftbutton{
    left: 50px;
    opacity: 0;
    transition: all .35s;
}
.neck .box1:hover .leftbutton{
    left: 20px;
    opacity: .9;
    transition: all .35s;
}
.neck .box1 .rightbutton{
    right: 50px;
    opacity: 0;
    transition: all .35s;
}
.neck .box1:hover .rightbutton{
    right: 20px;
    opacity: .9;
    transition: all .35s;
}
.neck .box1 ul{
    position: absolute;
    display: block;
    width: 100px;
    height: 10px;
    bottom: 15px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 999;
    /*margin-right: 15px;*/
}
.neck .box1 li{
    width: 10px;
    height: 10px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    float: left;
    background: white;
    border-radius: 50%;
    transition: all .5s;
}
.neck .box1 li:hover{
    background: #12b7de;
}
/*脖子的第二部分*/
.neck .box2{
    height: 100%;
    width: 22%;
    background: #EAEAEA ;
    float: left;
    margin-left: 2.5%;
}
.neck .box2 .box{
    width: 100%;
    height: 125px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
/*.neck .box2 .box img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    filter:brightness(70%);*/
/*    display: block;*/
/*    transition: all 0.7s;*/
/*}*/
/*.neck .box2 .box a:hover img{*/
/*    transform: scale(1.2);*/
/*    transition: all 0.7s;*/
/*    filter:brightness(100%);*/
/*}*/
/*.neck .box2 .box .text{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    text-align: center;*/
/*    margin: auto;*/
/*    height: 20px;*/
/*    padding: 0 40px;*/
/*    color: #ffffff;*/
/*}*/
/*脖子的第三部分*/
.neck .box3{
    height: 100%;
    width: 23%;
    background: #212123;
    float: right;
}
.neck .box3 h2{
    margin: 14px 10px 26px;
    color: #bcbcbc;
    font-weight: normal;
}
.neck .box3 p{
    margin: 0 25px 10px;
    color: #f1f1f1;
    font-size: 12px;
}
.neck .box3 ul.tab{
    height: 54px;
    /*width: 100%;*/
    padding: 15px 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.neck .box3 ul.tab li{
    height: 54px;
    width: 54px;
    background: #171719;
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    border-radius: 50%;
}
.neck .box3 ul.tab li a{
    height: 34px;
    line-height: 54px;
    text-align: center;
    display: block;
}
.neck .box3 ul.tab li:hover{
    filter: brightness(60%);
}
.neck .box3 ul.tab li a .iconfont{
    font-size: 26px;
}
.neck .box3 ul.tab li a.z{
    color: #ef5509;
}
.neck .box3 ul.tab li a.y{
    color: #FF991A;
}
.neck .box3 ul.tab li a.q{
    color: #1296DB;
}
.neck .box3 ul.tab li a.w{
    color: #07AF12;
}
/*衣领*/
#border{
    position: relative;
}
#border:after{
    position: absolute;
    content: "";
    height: 2px;
    background: #000000;
    border-radius: 10px;
    width: 80px;
    left: 0;
    top: 35px;
}
.collar{
    height: 310px;
    width: 79%;
    background: #EAEAEA;
    margin: 0 auto;
}
/*衣领的第一部分*/
.collar .box1{
    height: 100%;
    width: 74.5%;
    background: ghostwhite;
    float: left;
    position: relative;
    border-radius: 3px;
}
/*衣领的第二部分*/
.collar .box2{
    height: 100%;
    width: 23%;
    background: ghostwhite;
    float: right;
    border-radius: 3px;
}
/*腿部*/
.leg{
    /*min-height: 3500px;*/
    width: 79%;
    background:#EAEAEA;
    margin: 0 auto;
    overflow: hidden;
}
/*左腿*/
.leftleg{
    height: 100%;
    width:74.5%;
    float: left;
    background: #EAEAEA;
}
/*左腿下的第一部分*/
.leftleg .box1{
    height: 690px;
    width: 100%;
    background: ghostwhite;
    margin-bottom: 20px;
    border-radius: 3px;
}
/*左腿下的第二部分*/

.leftleg .box2{
    height: 130px;
    width: 100%;
    padding: 20px 0;
    background: ghostwhite;
    margin-bottom: 20px;
    border-radius: 3px;
}
.leftleg .box2 .imgbox{
    height: 130px;
    width: 96%;
    margin:0 auto;
}
.leftleg .box2 .imgbox .part1{
    height: 130px;
    width: 20%;
    display: block;
    float: left;
    margin-right: 20px;
}
.leftleg .box2 .imgbox p{
    display: block;
    margin-top: 30px;
}
.leftleg .box2 .imgbox img{
    height: 100%;
    width: 100%;
}
/*左腿下的第三部分*/
.leftleg .box3{
    /*height: 2500px;*/
    width: 100%;
    background: ghostwhite;
    border-radius: 3px;
}
.leftleg .box3 > ul{
    width: 100%;
    /*min-height: 2450px;*/
    padding-top: 20px;
    padding-bottom: 80px;
}
.leftleg .box3 > ul >li{
    width: 98%;
    height: 182px;
    margin: 0 auto;
    border-bottom: #bcbcbc 1px solid;
    padding-bottom:20px ;
}
.leftleg .box3 > ul >li b{
    color: red;
}
.leftleg .box3 > ul >li h3{
    height: 26px;
    width: 98%;
    padding-left: 2%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    line-height: 26px;
}
.leftleg .box3 > ul >li a .box{
    height: 124px;
    width: 100%;
}
.leftleg .box3 > ul >li a{
    height: 124px;
    width: 22%;
    margin-left: 2%;
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
}
.leftleg .box3 > ul >li a .web{
    position: absolute;
    padding: 1px 2px;
    background: #18b7de;
    text-align: center;
    line-height: 26px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    top: 0;
    left: 0;
    border-radius: 3%;
    opacity: 0.7;
}
.leftleg .box3 > ul >li .con{
    height: 124px;
    width: 72%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}
.leftleg .box3 > ul >li .con > .up{
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    margin-top: 10px;
    height: 56px;
}
.leftleg .box3 > ul >li .con > .down{
    height: 34px;
    margin-top: 25px;
    line-height: 34px;
    font-size: 20px;
    display: block;
}
.leftleg .box3 > ul >li .con span{
    width: 50%;
    height: 100%;
    position: relative;
    bottom: 8px;
    color: #bcbcbc;
}
.leftleg .box3 > ul >li .con > .down a{
    margin: 0;
    padding: 0;
    float: none;
    width: 20px;
    height: 20px;
    display: inline;
    font-size: 15px;
    color: #009966;
}
.leftleg .box3 > ul >li .con > .down .more{
    width: 80px;
    height: 28px;
    background: #18b7de;
    float: right;
    text-align: center;
    line-height: 28px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    border-radius: 4%;
}
.down >.img{
    width: 32px;
    height: 32px;
    /*border: #11c2e8 2px solid;*/
    /*border-radius: 50%;*/
    margin-right: 20px;
    position: relative;
    /*overflow: hidden;*/
    float: left;
}
.down>.img>img{
    width: 100%;
    height: 100%;
    border: #11c2e8 2px solid;
    border-radius: 50%;
}
.down > .word{
    position: relative;
    float: left;
    font-size: 15px;
    color: #bcbcbc;
}
.down > .img::after{
    content: "";
    position: absolute;
    background: url(../img/v.png) no-repeat;
    background-size: 12px;
    width: 12px;
    height: 12px;
    right: -4px;
    bottom: -4px;
}
/*右腿*/
.rightleg{
    height: 100%;
    width: 23%;
    float: right;
    background: #EAEAEA;
}
.rightleg .box1{
    /*height: 420px;*/
    width: 100%;
    background: ghostwhite;
    margin-bottom: 20px;
    border-radius: 3px;
}
.rightleg .box2{
    /*height: 730px;*/
    width: 100%;
    background: ghostwhite;
    margin-bottom: 20px;
    border-radius: 3px;
}
.rightleg .box3{
    height: 170px;
    padding: 20px 0;
    width: 100%;
    background: ghostwhite;
    margin-bottom: 20px;
    border-radius: 3px;
}
.rightleg .box4{
    /*height: 500px;*/
    width: 100%;
    background: ghostwhite;
    margin-bottom: 20px;
    border-radius: 3px;
}
.rightleg .box5{
    height: 160px;
    width: 100%;
    background: ghostwhite;
    margin-bottom: 20px;
    padding: 20px 0;
    border-radius: 3px;
}
.rightleg .box6{
    /*height: 400px;*/
    width: 100%;
    background: ghostwhite;
    margin-bottom: 20px;
    border-radius: 3px;
}
.rightleg .box7{
    height: 130px;
    width: 100%;
    background: ghostwhite;
    margin-bottom: 20px;
    border-radius: 3px;
}
/*脚部*/
.footer{
    height: 140px;
    width: 78%;
    background: #373c42;
    border-top: 10px solid #40b3e2;
    padding: 20px 11%;
}
.footer > .imgbox{
    width: 100px;
    height: 140px;
    float: left;
    margin-right: 30px;
}
.footer > .imgbox > img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.footer > .imgbox > p{
    color: #73777a;
}
.footer > .textbox{
    width: 600px;
    height: 140px;
    margin-top: 10px;
    float: left;
    color: #73777a;
}
.footer > .textbox > h3{
    color: #11c2e8;
    display: block;
    margin-bottom: 15px;
}
.footer > .textbox > p{
    display: block;
    float: left;
    margin-left: 10px;
    font-size: 14px;
}
.footer > .textbox > p >a{
    color: #73777a;
}
.footer > .textbox > p >a:hover{
    color: #fffb5e;
}