.message{
    width: 79%;
    min-height: 150px;
    background:#fff;
    margin: 0 auto;
}
.message > .down{
    width: 96%;
    padding:2px 2% 20px;
    min-height: 300px;
    overflow: hidden;
}
.message > .down > h4{
    display: block;
    margin: 11px 0;
    font-size: 15px;
}
.message > .down p{
    display: block;
    margin: 10px 0;
}
.message > .down p >img{
    margin-right: 10px;
}
textarea#lytext {
    width: 99%;
}
.message > .down p >a{
    display: block;
    float: right;
    padding: 5px 10px;
    background: #1a1c0e;
    color: white;
    border-radius: 10%;
}
