.time{
    width: 79%;
    min-height: 200px;
    background:url("../img/abbg.png") no-repeat right top #fff;
    margin: 0 auto;
    padding-top: 20px;
}
.time > .down{
    width: 96%;
    padding:20px 2% 40px;
    min-height: 100px;
}
.time > .down > ul{
    margin-bottom: 10px;
}
.time > .down li{
    width: 100%;
    height: 32px;
}
.time > .down li > span{
    display: block;
    float: left;
    height: 100%;
    font-size: 15px;
    line-height: 32px;
    color: #999;
    padding-right: 20px;
    border-right: #e0dfdf 3px solid;
    position: relative;
}
.time > .down li > span:after{
    position: absolute;
    content: "";
    background: white;
    width: 10px;
    height: 10px;
    border: #e0dfdf 3px solid;
    border-radius: 50%;
    top: 8px;
    right: -9.5px;
    transition: all .2s;
}
.time > .down li:hover > span:after{
    background: black;
    transition: all .2s;
}
.time > .down li > a{
    display: block;
    float: left;
    height: 100%;
    font-size: 15px;
    line-height: 32px;
    color: #000000;
    margin-left: 20px;
}
.time > .down > .tab{
    /*display: inline-block;*/
    margin:30px auto;
    overflow: hidden;
    text-align: center;
    /*position: relative;*/
    /*left:auto;*/
    /*right:auto;*/
}
.time > .down > .tab > a{
    /*display: block;*/
    height: 20px;
    padding: 5px 10px;
    /*float: left;*/
    color: black;
    font-size: 15px;
    line-height: 40px;
    background: #e5e5e5;
    margin:0 10px;
}
.time > .down > .tab > a:hover{
    background: #1a1c0e;
    color: white;
}
.timedetails{
    width: 79%;
    min-height: 200px;
    margin: 0 auto;
    overflow: hidden;
}